[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "==6.0.2"
pywinauto = "==0.6.8"
selenium = "*"
allure-pytest = "*"

[dev-packages]

[requires]
python_version = "3.6"
